OPENAI_API_KEY= your_OPENAI_API_KEY_here


POSTGRES_USER=raguser
POSTGRES_PASSWORD=ragpassword
POSTGRES_DB=ragdb
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

QDRANT_HOST=qdrant
QDRANT_PORT=6333

REDIS_HOST=redis
REDIS_PORT=6379

KAFKA_BOOTSTRAP_SERVERS=kafka:9092



APP_ENV=development
LOG_LEVEL=INFO

TENANT_API_KEYS=amazon-key-123:amazon,flipkart-key-456:flipkart,myntra-key-789:myntra